
    .formUser{
        padding: 5px;
        margin: 10px;
        display: flex;
        flex-direction: column;
        background-color: black;
        border-radius: 9px;
    }
    .formUser div{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .formUser label{
        display: block;
        color: white;
        font-size: 20px;
        padding: 15px;
        font-weight: bold;
    }
    .formUser input{
        display: block;
        height: 30px;
        border-radius: 30px;
        padding: 15px;
        margin: 10px;
    }
    .formUser button{
        border-radius: 30px;
        padding: 15px;
        margin: 10px;
        font-weight: bold;
    }
