
    .container{
        background-color: #191919;
        display: flex;
        height: 100vh;
        margin: 0;
    }
    .loading{
        text-align: center;
        align-items: center;
        margin: auto;
        color: white;
        font-weight: bold;
    }
    .chatContent{
        flex: 4;
        height: 100%;
        display: flex;
        flex-direction: column;
        background-color: #EFEEEA;
    }
    .view{
        display: flex;
        flex-direction: row;
        width: 100vw;
        height: 902px;
    }
    .visible{
        display: block;
    }
    .noVisible{
        display: none;
    }
